@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.new-inner-box{
	height: 450px;
}

body{
	font-family: 'GmarketSansMedium';
}

.new-font{
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-style:normal;
}

.del-btn{
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.d-day{
	color: gray;
}

.fd_title{
	color: black;
}

.widget-content ul.cart-ul li{
	list-style: none;
	list-style-position: initial;
	font-weight: 600;
	font-family: 'GmarketSansMedium';
	font-size: 20px;
	text-align: left;
	color: black;
	margin-left: 15px;
}

.cart-ul:last-child a.jjimlist{
	font-size: 20px;
}

.bg-red {
	background-color: red !important;
 }
 
 h1,h2,h3,h4,h5,h6{
	font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-style:normal;
}

td a{
	color: black;
}

td a:hover{
	color: #3cc88f;
}

#new-cart-table tbody tr td{
	padding: 20px 15px 20px;
}

#new-cart-table tbody tr .title-td{
	text-align: left;
}

.title-poto img{
	width: 100px;
	border-radius: 10px;
}

.cart-table tr th {
    font-size: 16px;
    color: #25283a;
    line-height: 24px;
    padding: 10px 15px;
    min-width: 120px;
    font-weight: 600;
    text-align: center;
}

.cart-table tr .no-line{
	border-bottom: none;
}

.plus{
	background: none;
}
.plus:hover {
	color: #3cc88f;
}

.plus-tr th:not(.plus-tr th:first-of-type){
	background-color: #BDEAD8;
}
.plus-tr td:not(.plus-tr td:first-of-type){
	background-color: #BDEAD8;
}

.plus-tr td a:hover{
	color: #7A4518;
}

#paging{
	position: absolute;
	left: 50%;
	transform:translate(-50%, -50%); 
	padding-top: 30px;
}
