@charset "UTF-8";
    #footer_new_all{
        width:100%;
        height:250px;
        background-color: rgb(30,36,54);
        position:relative;
    }
    #footer_bottom_div{
        bottom:0px;
        height:60px;
        width:100%;
        position:absolute;
        background-color: rgb(26,32,47);
    }
    #footer_bottom_div_text{
        height:50px;
        width:1200px;
        margin:0 auto;
        margin-top:15px;
        color:white;
        font-size:small;
    }
    #footer_new_all_text{
        height:200px;
        width:1200px;
        margin:0 auto;
        color:white;
        font-size:small; 
    }
    #footer_new_all_text img{
        margin-top:-5px;
    }
    #footer_new_all_text h4{
        font-family: 'GmarketSansMedium';
        display:inline-block;
        margin-top:50px;
        margin-left:20px;
        font-size:small; 
    }
    .footer_iner_uls{
        margin-top:20px;
        margin-left:120px;
    }
    .footer_iner_uls li{
        font-family: 'GmarketSansMedium';
        display:inline-block;
        margin-top:5px;
        font-size:small; 
    }