
/* 펀딩페이지 메인 */

/* 펀딩 프로젝트 목록 검색창 + 셀렉트 */
.funding-search-box{
   position: relative;
   margin-top: 10px;
   padding-bottom: 50px;
}
.search{
   position: absolute;
   right: 5px;
   bottom: 55px;
}

/* 카테고리 베너 css 삭제 */
.no-banner{
    background-color: white;
    padding: 0;
    padding-bottom: 50px;
}
.no-banner .bread-crumb li , .no-banner .bread-crumb li a , .no-banner h1{
    color: black;
}

.no-banner .bread-crumb li.active{
    color: black;
}

.no-banner .auto-container h1{
	padding: 0px 100px;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 전체폰트 */
.new-font{
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-style:normal;
}
/* 전체폰트 */
span{
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-style:normal;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-style:normal;
}

/* 카테고리 폰트 사이즈 */
ul.new-font{
    font-size: 30px;
    /* style.css .bread-crumb  font-size 주석처리함*/
}

.new-btn-title{
    font-size: 18px; 
}

#funding-div{
    position:static;
}

.d-day{
    position: absolute;
    right: 40px;
}

.donation-count{
    color: gray;
}

/* 펀딩리스트 타이틀이미지 크기 */

img.img-size{
	width: 323.9px;
	height: 323.9px;
}

.fd-text-box{
	height: 90px;
}

/* 펀딩페이지 상세 */


/*후원 멘트*/

div.lower-content p.contentp{
	text-align: center;
	font-size: 28px;
	padding: 0 10px;
	
}

div.lower-content p strong{
	color: rgb(112,191,187);
}

#new-side h5{
	padding: 5px 0;
}

#new-side div h2, #new-side div h5{
	padding-left: 30px;
}

#new-side{
	padding: 60px 25px;
}

/* 펀딩하기, 찜, 공유 */

#funding-div{
	margin-left: 20px;
}

#funding-div .btn-title{
    padding: 11px 35px;
}

#funding-div a.btn-style-one span.new-btn-title:hover{
	background-color:#4B807D;
}

.funding-btn{
    font-size: 25px;
    padding: 10px 14px;
    border-radius: 50px;
    position: absolute;
    transition: all 0.3s;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

#jjim{
    left: 190px;
    bottom: 69px;
    /* height: 50px; */
    font-size: 25px;
    height: 53px;
    width: 53px;
    background-color: #FF4640;
    color: white;
}


#jjim:hover{	
    background-color: #FF908C;
	color:#FF4640;
	-webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}


#gongu{
    left: 250px;
    bottom: 69px;
    height: 53px;
    width: 53px;
	background-color:#6E9FCC;
	color: white;
}

#gongu:hover{
	background-color:#385D80;
	-webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

/* 펀딩 상세페이지 첨부파일 이미지 크기 */
.lower-content img{
    width: 100%;
    height: 100%;
}



/* 프로젝트 주체하기 페이지 */



/* 프로젝트 주최하기 폼 span */
.open-pj-form form span:not(.under-span){
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
}


.open-fd-from fomr span.under-span{
	font-size: 14px;
}

#open-fd-btn{
	position: absolute;
	left: 50%;
	transform:translate(-50%, 0%);
}


/* 첨부파일, 질문하기 버튼 */
.new-btn{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 10px;
}

/* .open-pj-form form span{
    font-size: 25px;
} */
/* 폼 가운데 정렬 */
.open-pj-form{
    position: absolute;
    left: 25%;
}




/* 펀딩 문의페이지 */


.info-qna li{
    font-size: 18px;
}

/* 문의 텍스트박스 */
#question-box{
	margin-top: 50px;
    margin-left: 45px;
    margin-bottom: 15px;
    width: 680px;
}
#question-box~.new-btn{
    margin-left: 645px;
    margin-bottom: 50px;
}

.content{
	margin: 15px;
}


.content .text{
	padding-bottom: 15px;
}

/* 문의글 삭제 버튼 */
.x-btn{
    font-size: 15px;
    background-color: rgb(230, 223, 223);
    color: gray;
    border-radius: 5px;
    padding: 0 7px;
    position: absolute;
    right: 40px;
    bottom: 5px;

}

.cause-details .inner-box ul.accordion-box li:before{
	background: none;
}


h5 a:hover{
	color: #3cc88f;
}


/* 펀딩 결제 페이지 */

.center{
	text-align: center;
	padding-bottom: 40px;
}

/* 결제폼 */
.pay-form{
    position: absolute;
    left: 30%;
    padding-top: 20px;
    padding-bottom: 120px;
}

.pay-form span{
    font-size: 20px;
    margin-bottom: 10px;
}

.pay-form div{
    margin-left: 30px;
    margin-bottom: 5px;
}

.pay-form div span{
    font-size: 16px;
}

.pay-form div input[type=text]{
    width: 400px;

}

.pay-btn{
	position:absolute;
	bottom:50px;
	left: 43%
	
}

#pay_first_td{
	
	text-align: left;
}


/* 주최자 마이페이지 - 펀딩  */

div.new-inner-box{
	width: 220px;
	height: 300px;
}

div.new-inner-box div.new-con-box{
	margin-top: 20px;
}

/* 주최자 마이페이지 프로젝트 제목 컬러 */
h5 a.black-font{
    color: black;
}

.our-shop div h3{
    margin-bottom: 30px;
    margin-top: 60px;
}

.new-box{
	display:inline-block;
}


/* 주최자 마이페이지 질문답변하기 */

.margin td , .marign div{
    font-size: 18px;
}

td.margin:not(.qna-con){
    width: 100px;
    padding-left 10px;
    padding-right 10px;
    text-align: center;
}

.answer{
    padding-bottom: 60px;
}

.qna-con+td{
	position: absolute;
	right: 10%;
}

.answer textarea{
	width: 680px;
	margin-left: 120px;
	margin-bottom: 10px;
}

.answer button{
	position: absolute;
    right: 70px;
}

div.answer span{
	padding-left: 130px;
}

.a-btn{
	position: absolute;
	right: 25px;
	bottom: 5px;
    color: gray;
    font-size: 12px;
    background: none;
}

.a-btn:hover{
	color: #3cc88f;
}



/*후원자리스트 운송장번호 인풋  */
input::placeholder{
	color: gray;
	font-size: 14px;
	padding: 5px;
	
}

.transport_no{
	width: 150px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-bottom: 5px;
}
.transport_no ~ button:hover{
	color: black;
}
.transport_no ~ button{
	background-color: lightgrey;
	border-radius: 5px;
	padding: 1px 5px 1px;
	color: gray;
}

tbody.patron-list tr td{
	padding: 10px 10px 10px;
}


/* 펀딩 메인페이지 카테고리 */
#category div ul li a img{
    width: 50px;
    height:50px;
    margin: 15px;
}

.page-banner .bread-crumb li:before{
    content: " ";
}

/* 소개 | 문의 부분 */
.auto-container h1~.info-qna li:before{
    content: "|";
    padding-left:10px;
}


ul.bread-crumb li a{
    padding-bottom:19px;
}


ul.bread-crumb li a span {
    font-size: 15px;
    position:absolute; bottom:-16px; left:50%; line-height:1.462em; white-space:nowrap; transform:translate(-50%, 0)
}



/* 버튼 컬러 바꿈 */
.btn-style-one .new-btn-title{
    background-color: rgb(112,191,187);
    color: white;
}

/* 주최자마이페이지세부 상태 버튼*/
td .new-btn{
    width: 90px;
}


#no-list{
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, -50%);
	font-family: 'GmarketSansMedium';
	font-size: 24px;
}

.bg-red {
	background-color: red !important;
 }
 
.widget-content ul.cart-ul li{
	list-style: none;
	list-style-position: initial;
	font-weight: 600;
	font-family: 'GmarketSansMedium';
	font-size: 20px;
	text-align: left;
	color: black;
	margin-left: 15px;
}

.cart-ul:last-child a.jjimlist{
	font-size: 20px;
}


  
/* 모달 */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

.show {
opacity: 1;
z-index: 1000;
transition: all 0.5s;
}

.window {
position: relative;
width: 100%;
height: 100%;
}

.popup {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color:rgb(112,191,187);
box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
border-radius: 30px;
border: 0px;
color: white;

/* 임시 지정 */
width: 700px;
height: 650px;

/* 초기에 약간 아래에 배치 */
transform: translate(-50%, -40%);
}

/* .show .popup {
transform: translate(-50%, -50%);
transition: all 0.5s;
} */

#close{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 내용부분 정렬 */
#modal-con{
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 30px 70px 10px 70px;
}
