 /* header 배경색 수정 */
 .main-header .header-upper .logo-box .logo:before{
    background: rgb(254,74,43);
}

.main-header .header-upper .logo-box .logo{
    background: rgb(254,74,43);
}
.img-fix2{
    top:40px;
}


.btn-style-three .btn-title:before {
    background-color: rgb(112,191,187) !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}