.bg-red {
	background-color: red !important;
  }

.pb-0 {
	padding-bottom: 0;
}
.text-start {
	text-align: start !important;
}
.max-w-100 {
	max-width: 100%;
}
.bg-color-sky {
	background-color: #F1F5F9;
}
.m-auto {
	margin: auto;
}
.mr-0 {
	margin-right: 0;
}
.ml-0 {
	margin-left: 0;
}
.mt-auto {
	margin-top: auto;
}
.min-w-230px {
	min-width: 230px;
}
.bg-red {
	background-color: red !important;
  }

.pb-0 {
	padding-bottom: 0;
}
.pointer {
	cursor: pointer;
}