/*================================

		추가 css 항목들

===================================*/

 /*외부 글씨체 사용(09.19)*/
 @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 /*외부 글씨체 사용(09.19)*/

 h1,h2,h3,h4,h5,h6 {font-family: 'GmarketSansMedium'; }

.tabs-box .tab-buttons .tab-btn{font-family: 'GmarketSansMedium';}

.accordion-box .block .acc-btn{	font-family: 'GmarketSansMedium';}


#admin-email{
	text-align: center;
	padding : 30px;
	background-color: mediumaquamarine;
	
}

#admin-email-inner{
	text-align: center;
}

#new-serch-box{
	text-align: center;
}

#new-banner{
	padding: 80px;
}

#new-search-box{
	border-radius: 3px;
	border: solid 1px lightgrey;
	width: 200px;
	margin-left:750px;
	margin-bottom: 30px;
}

/* table, tr, td {
	border: solid 1px black;
} */

table{
	margin-left: 100px;
}

.partner-logo{
	width: 300px;
	height: 300px;
}

#contact-partner {

	text-align:center; 
	color: rgb(112,191,187); 
	font-style: italic; 

}



