/*================================

		추가 css 항목들

===================================*/

 /*외부 글씨체 사용(09.19)*/
 @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 /*외부 글씨체 사용(09.19)*/

 h1,h2,h3,h4,h5,h6 {font-family: 'GmarketSansMedium'; }

.tabs-box .tab-buttons .tab-btn {font-family: 'GmarketSansMedium';}

.accordion-box .block .acc-btn{	font-family: 'GmarketSansMedium';}


#admin-email{
	
	width:90%;
	text-align: center;
	padding : 30px;
	background-color: mediumaquamarine;
	margin:auto;
	
}

#admin-email-inner{
	
}



#new-banner{
	padding: 80px;
}


table{
	margin-left: 100px;
}

.partner-logo{
	width: 300px;
	height: 300px;
}

#contact-partner {

	text-align:center; 
	color: rgb(112,191,187); 
	font-style: italic; 

}

#reviewtext{
	margin:auto;
	width: 100% !important;
	height:500px !important;
}

/* #reviewtext{ */
/*    margin:auto; */
/*    width: 70%; */
/*    height:500px !important; */
/* } */

.more-table{
/*    border: solid black 1px; */
   padding: 10px;
/*    width: 120%; */
   margin:20px;
}

#notice-content{
   margin:auto;
}

#event-content{
	margin:auto;
	
}

.more-td1{
 	width:80%;
}

#event-table{
	margin: auto;
	width: 70%;
}



.event-btn{
	text-align:center; 

}

.eventView-td{
	text-align:center;
}


.event-tab{
	font-family:'GmarketSansMedium';
	border: solid rgb(112,191,187) 1px;
	position: relative;
	padding: 5px;
	border-radius: 13px;
	color: white;
	font-size: 18px;
	background: rgb(112,191,187);
	width: 150px;
	
}

.event-tab:hover{
	color: navy;
}

.table-gap{
	height:27px;
}

/*리뷰 썸네일 사이즈 고정*/
img.img-size{
	width: 323.9px;
	height: 300px;
}

/*리뷰 검색창*/
div.search-box{
	font-family: 'GmarketSansMedium';
	text-align:right;
}

/*이벤트게시판 제목 부분*/
div.event-date{
	font-family: 'GmarketSansMedium';
	color: navy;
	font-size:15px;
	font-weight:bold;
}

img.event-img-size{
	width: 150px;
	height: 100px;
}

div.event-detail{
	display:"block";
	text-align:center;
	font-family: 'GmarketSansMedium';
	color:rgb(254,74,43);
	font-size:25px;
	font-weight:bold;
}

div.event-title{
	font-family: 'GmarketSansMedium';
	text-align:center;
	color:rgb(112,191,187);
	font-size:17px;
	font-weight:bold;
}

div.billing-detail{
	font-family: 'GmarketSansMedium';
	
}

/*문의사항*/
li.accordion{
	font-family: 'GmarketSansMedium';
}

/*문의사항 분류 탭*/
div.faq-inner{
	padding-top:50px;
}

/*문의사항 검색창*/
div.text-box{
	padding-top:20px;
}

#search-text{
	font-family: 'GmarketSansMedium';
	padding-left:10px;
	color:grey;
	width:300px;
	height:40px;
	border-radius:10px;
}

#qna-search-btn{
	background-color:transparent;
}

#btn-img{
	width:40px;
	height:40px;
}
