@charset "UTF-8";

#popImgDiv,#popImgDiv img{
	width:400px;
	height:480px;
}
.checkDiv{
	width:400px;
	heihgt:50px;
	position:absolute;
	margin-top:10px;
}
.checkDiv input{
	margin-left:10px;
}
#closeBtn{
    margin-left: 100px;
	text-decoration: none;
	width: 100px;
    text-align: rgb(200,200,200);
}
.divpop {
     position: absolute; 
     z-index:999; 
     top:150px; 
     right:150px;
     width:400px; 
     height:530px; 
     border:1px solid gray;
     display:none;
     background-color: white;
}
.popImg{
	width:400px;
	height:480px;
}