<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BongsaDAO">
	<!-- 목록보기 -->
	<select id="getBongsaList" parameterType="HashMap" resultType="bongsa">
		SELECT b.BS_NO, b.BS_TITLE, b.BS_CONTENT ,b.BS_GOAL_CNT,b.BS_SUCCESS_CNT,
           	 b.BS_NAME, round(((b.BS_SUCCESS_CNT / b.BS_GOAL_CNT)*100),0) bs_rate,b.bs_recruit_end,u.user_email, BS_IMG_NAME
    	FROM BONGSA b,userinfo u
		<where>
			bs_ing = '진행중' <![CDATA[and BS_RECRUIT_END >= sysdate]]>
			<!-- 지역별 검색 -->
	 		<if test="bs_region != null">
	 			and bs_region = #{bs_region}  and b.user_no = u.user_no
	 		</if>
	 		<!-- 키워드 검색-->
		 	<if test="searchKeyword != null">
  				and ${searchCondition} like '%${searchKeyword}%'  and b.user_no = u.user_no
  			</if>
	 		<!--검색을 하지않았을때 기본 조인값-->
		 	<if test="searchKeyword == null and bs_region == null">
  				and b.user_no = u.user_no
  			</if>
		</where> 
	ORDER BY BS_NO DESC

	</select>
	
	<!-- 미승인 목록 보기 -->
	<select id="getBsApprovalList" parameterType="HashMap" resultType="bongsa">
		SELECT b.BS_NO, b.BS_TITLE, b.BS_CONTENT ,b.BS_GOAL_CNT,b.BS_SUCCESS_CNT,
           	 b.BS_NAME, round(((b.BS_SUCCESS_CNT / b.BS_GOAL_CNT)*100),0) bs_rate,b.bs_recruit_end,u.user_email
    	FROM BONGSA b,userinfo u
		<where>
			<!-- 지역별 검색 -->
	 		<if test="bs_region != null">
	 			bs_region = #{bs_region}  and b.user_no = u.user_no
	 		</if>
	 		<!-- 키워드 검색-->
		 	<if test="searchKeyword != null">
  				${searchCondition} like '%${searchKeyword}%'  and b.user_no = u.user_no
  			</if>
	 		<!--검색을 하지않았을때 기본 조인값-->
		 	<if test="searchKeyword == null and bs_region == null">
  				b.user_no = u.user_no and b.bs_ing = '대기중'
  			</if>
		</where> 
	ORDER BY BS_NO DESC
	</select>
	
	<!-- 관리자가 봉사 프로젝트 승인 -->
  	<update id="okBsUpdate" parameterType="bongsa">
  		update bongsa
  		   set bs_ing = '진행중'
  		 where bs_no = #{bs_no}
  	</update>
  	 <!-- 관리자가 봉사 프로젝트 반려함 -->
  	<update id="noBsUpdate" parameterType="bongsa">
  		update bongsa
  		   set bs_ing = '불가함'
  		 where bs_no = #{bs_no}
  	</update>
	
	<!-- 봉사 상세페이지 가져오기 -->
	<select id="getBongsa" parameterType="bongsa" resultType="bongsa">
  		select BS_TITLE, BS_CONTENT, BS_NAME, 
  		BS_NO, BS_REGION, BS_PLACE, BS_IMG_CNT, 
  		BS_PHONE,  BS_SUCCESS_CNT, 
  		to_date(TO_char(BS_WORK_START, 'YYYYMMDDHH24MI'),'yyyy-mm-dd hh24:mi') RE_BS_WORK_START,
  		to_date(TO_char(BS_WORK_END, 'YYYYMMDDHH24MI'),'yyyy-mm-dd hh24:mi') RE_BS_WORK_END, BS_EMAIL, BS_IMG_NAME, 
  		BS_GOAL_CNT, USER_NO, BS_READ_CNT, 
  		USER_NO,
  		round(((BS_SUCCESS_CNT / BS_GOAL_CNT)*100),0) bs_rate
  		from BONGSA 
  		where bs_no=#{bs_no}
  	</select>
  	
  	<select id="getParticipateInfo" parameterType="bongsa" resultType="bongsa">
	select 
	BS_NO,
	VT_BS_NAME,
	VT_TITLE,
	VT_PLACE,
	VT_RECRUIT_START,
	VT_RECRUIT_END,
	VT_WORK_START,
	VT_WORK_END,
	USER_NO, 
	VT_NAME,
	VT_USER_PHONE,
	VT_USER_EMAIL
	from 
	(select BS_NO,BS_TITLE VT_TITLE ,BS_PLACE VT_PLACE ,BS_RECRUIT_START VT_RECRUIT_START,
	BS_RECRUIT_END VT_RECRUIT_END, BS_WORK_START VT_WORK_START, BS_WORK_END VT_WORK_END,
	BS_NAME VT_BS_NAME from bongsa where bs_no=#{bs_no}), 
	(select user_name VT_NAME, user_phone VT_USER_PHONE, 
	user_email VT_USER_EMAIL, USER_NO from userinfo where user_no =#{pUser_no})

  	</select>
  	

  	<!-- 봉사 삭제 -->
	<delete id="deleteBongsa" parameterType="bongsa">
		delete 
		from bongsa
		where bs_no = #{bs_no}
	</delete>
	<!-- 메인에 노출할 마감임박 봉사 리스트 -->
	<select id="getDeadlineBs" resultType="bongsa">
		select *
		from ( select * from bongsa order by bs_recruit_end desc)
		where <![CDATA[rownum <= 10]]>
	</select>
	
  	<!-- 봉사모집 추가  -->
  	<insert id="insertBongsa" parameterType="bongsa">
  		<selectKey keyProperty="bs_no" order="AFTER" resultType="int">
			select BONGSA_PJ_SEQ.currval bs_no from dual
		</selectKey>
  
  	INSERT INTO BONGSA(
  	BS_NO, BS_TITLE, BS_CONTENT, BS_REGION, BS_PLACE, 
  	BS_RECRUIT_START, BS_RECRUIT_END, BS_WORK_START, BS_WORK_END, 
  	BS_GOAL_CNT, BS_SUCCESS_CNT, BS_ING, BS_NAME, 
  	BS_PHONE, BS_EMAIL, BS_IMG_CNT, BS_IMG_NAME, BS_READ_CNT, USER_NO)
  	
  	VALUES(BONGSA_PJ_SEQ.nextval, #{bs_title}, #{bs_content}, #{bs_region},#{bs_place},
  	#{bs_recruit_start},#{bs_recruit_end},to_date(#{bs_work_start},'yyyy/mm/dd hh24:mi'),
  	to_date(#{bs_work_end},'yyyy/mm/dd hh24:mi'),
  	#{bs_goal_cnt},0,'진행중',#{bs_name},
  	#{bs_phone},#{bs_email},#{bs_img_cnt},BONGSA_PJ_SEQ.nextval||'_이미지',1,#{user_no}
  	)

  	</insert>
  	

  	
  	<!-- 승인된 봉사 페이징 리스트 -->
  	<select id="getAdBsList" parameterType="page" resultType="bongsa">
		select *
		from bongsa
		where bs_no in(select bs_no from
			(select bs_no,rownum AS rnum from
				(select bs_no 
				from bongsa 
				<where>
		  			<if test="stext != null">
		  				${select} like '%${stext}%' and bs_ing not in ('대기중','불가함')
		  			</if>
		  			<if test="stext == null">
		  				bs_ing not in ('대기중','불가함')
		  			</if>
  				</where>
				order by bs_no desc))
			where 
				<![CDATA[rnum >= #{firstRow}]]> and 
				<![CDATA[rnum <= #{endRow})]]>
		order by bs_no desc
	</select>
	<!-- 미승인된 봉사 페이징 리스트 -->
  	<select id="getAdBsApprovalList" parameterType="page" resultType="bongsa">
		select *
		from bongsa
		where bs_no in(select bs_no from
			(select bs_no,rownum AS rnum from
				(select bs_no 
				from bongsa 
				<where>
		  			<if test="stext != null">
		  				${select} like '%${stext}%' and bs_ing in ('대기중','불가함')
		  			</if>
		  			<if test="stext == null">
		  				bs_ing in ('대기중','불가함')
		  			</if>
  				</where>
				order by bs_no desc))
			where 
				<![CDATA[rnum >= #{firstRow}]]> and 
				<![CDATA[rnum <= #{endRow})]]>
		order by bs_no desc
	</select>
	
	<!--승인된 봉사 페이징을위한 그룹번호(즉, 게시글의 총갯수)를 불러오는 조회문 -->
	<select id="getAllcntOk" parameterType="page" resultType="page">
		select count(bs_no) as totalRecCount 
		from bongsa
		<where>
  			<if test="stext != null">
  				${select} like '%${stext}%' and bs_ing not in ('대기중','불가함')
  			</if>
  			<if test="stext == null">
  				bs_ing not in ('대기중','불가함')
  			</if>
		</where>
	</select>
	
	<!--미승인된  페이징을위한 그룹번호(즉, 게시글의 총갯수)를 불러오는 조회문 -->
	<select id="getAllcntNo" parameterType="page" resultType="page">
		select count(bs_no) as totalRecCount 
		from bongsa
		<where>
  			<if test="stext != null">
  				${select} like '%${stext}%' and bs_ing in ('대기중','불가함')
  			</if>
  			<if test="stext == null">
  				bs_ing in ('대기중','불가함')
  			</if>
		</where>
	</select>
	
	
	
	<!-- 주최자 마이페이지 모집 완료한 봉사 리스트 -->
	<select id="getSuccess_BsList" parameterType="map" resultType="bongsa">
	select 
	BS_NO, BS_TITLE, BS_CONTENT, BS_WORK_START, BS_WORK_END, BS_GOAL_CNT, BS_SUCCESS_CNT, USER_NO, round(((BS_SUCCESS_CNT /BS_GOAL_CNT)*100),0) bs_rate
	from bongsa 
	where user_no=#{user_no} <![CDATA[and BS_RECRUIT_END <= sysdate]]> and bs_ing ='진행중' ORDER BY BS_NO DESC
	</select> 
		
	<!-- 주최자 마이페이지 모집 중인 봉사 리스트 -->
	<select id="getOngoing_BsList" parameterType="map" resultType="bongsa">
	select 
	BS_NO, BS_TITLE, BS_CONTENT, BS_WORK_START, BS_WORK_END, BS_GOAL_CNT, BS_SUCCESS_CNT, USER_NO, round(((BS_SUCCESS_CNT /BS_GOAL_CNT)*100),0) bs_rate
	from bongsa 
	where user_no=#{user_no} <![CDATA[and BS_RECRUIT_END > sysdate]]> and bs_ing ='진행중'	 ORDER BY BS_NO DESC 
	</select>
	
	
	<!-- 모집완료한 봉사 참가자 리스트 조회 -->
	<select id="getbongsaParticipateList" parameterType="bongsa" resultType="bongsa">
	
	select VT_TITLE, VT_NAME, VT_USER_PHONE, VT_USER_EMAIL
	from VOLUNTEER 
	where bs_no=#{bs_no} 
	
	</select>
	
	
	<!-- 봉사이미지 cnt 증가 -->
	<update id="increBsImgCnt" parameterType="bongsa" >
	
	update volunteer
	set vt_ing = 0
	where bs_no = #{bs_no} and <![CDATA[vt_work_end < sysdate]]>
	</update>
	
	

  </mapper>