<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BongsaDAO">
	<!-- 목록보기 -->
	<select id="getBongsaList" parameterType="HashMap" resultType="bongsa">
	  	select * from bongsa
  		<where>
  		
			<if test="searchKeyword != null">
  				${searchCondition} like '%${searchKeyword}%'
  			</if>
  		
  		</where>
  		  
  		  

	
	
	
	</select>
	




  </mapper>