<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EventDAO">
	<!-- 이벤트 리스트 출력 -->
	<select id="getEventList" resultType="event">
		select event.*,admin.adm_id
		from event,admin
		where event.adm_no = admin.adm_no
		order by event_no desc
	</select> 
	<select id="getAdEventList" parameterType="page" resultType="event">
		select event.*,admin.adm_id
		from event,admin
		where event_no in(select event_no from
			(select event_no,rownum AS rnum from
				(select event_no 
				from event 
				<where>
		  			<if test="stext != null">
		  				${select} like '%${stext}%' 
		  			</if>
  				</where>
				order by event_no desc))
			where 
				<![CDATA[rnum >= #{firstRow}]]> and 
				<![CDATA[rnum <= #{endRow})]]>
		and event.adm_no = admin.adm_no
		order by event_no desc
	</select>
	<!-- 페이징을위한 그룹번호(즉, 게시글의 총갯수)를 불러오는 조회문 -->
	<select id="getAllcnt" parameterType="page" resultType="page">
		select count(event_no) as totalRecCount 
		from event
		<where>
  			<if test="stext != null">
  				${select} like '%${stext}%'
  			</if>
		</where>
	</select>
	<!-- 이벤트 삭제 -->
	<delete id="deleteEvent" parameterType="event">
		delete 
		from event
		where event_no = #{event_no}
	</delete>
	
</mapper>