<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Funding_qnaDAO">
  	<select id="getFunding_qnaList" parameterType="funding_qna" resultType="funding_qna">
  		select *
  		  from FUNDING_QNA
  		 where fd_no = ${fd_no}
  		order by qna_no desc
  	</select>
  	
  	<insert id="insertFunding_qna" parameterType="funding_qna">
  		insert into FUNDING_QNA(fd_no, qna_no, user_no, qna_question)
  		values(${fd_no},fd_qna_seq.nextval,${user_no},${qna_question})
  	</insert>
  </mapper>