<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Funding_pjDAO">
	<!-- 목록보기 -->
  	<select id="getFunding_pjList" parameterType="map" resultType="funding_pj">
  		select pj.fd_no , pj.fd_goals , pj.fd_title , nvl(pay.total_sum,0)
       		   , to_date(pj.fd_enddate,'yy-mm-dd') - to_date(sysdate, 'yy-mm-dd') remain_day
      		   , nvl(trunc(pay.total_sum / pj.fd_goals,2)*100,0) rate
		  from funding_pj pj , (select fd_no , sum(pay_total) total_sum 
                        		  from funding_pay
                    		  group by fd_no) pay
  		 where pj.fd_no = pay.fd_no(+)
  		   and pj.fd_satatus = '진행중'
  		  <![CDATA[and pj.fd_startdate <= sysdate]]>
  		  <![CDATA[and pj.fd_enddate > sysdate]]>
  		<if test="fd_category != null">
  			and pj.fd_category = #{fd_category}
  		</if>
  		<if test="search != null">
  			and pj.fd_title like '%${search}%'
  		</if>
  		<if test="select != null">
  			order by ${select} desc
  		</if>
  		<if test="select = null">
  			order by pj.fd_no desc
  		</if>
  	</select>
  	
  	<!-- 상세페이지 -->
  	<select id="getFunding_pj" parameterType="funding_pj" resultType="funding_pj">
  		select pj.fd_no , pj.fd_goals , pj.fd_title , pay.total_sum , pay.total_people
       		   , to_date(pj.fd_enddate,'yy-mm-dd') - to_date(sysdate, 'yy-mm-dd') remain_day
      		   , nvl(trunc(pay.total_sum / pj.fd_goals,2)*100,0) rate
		  from funding_pj pj , (select fd_no , nvl(sum(pay_total),0) total_sum, count(user_no) total_people
                        		  from funding_pay
                    		  group by fd_no) pay
  		 where pj.fd_no = pay.fd_no(+)
  		   and pj.fd_no = #{fd_no}
  	</select>
  	
  	<!-- 조회수 증가 -->
  	<update id="upCount" parameterType="funding_pj">
  		update funding_pj
  		   set fd_read_cnt = fd_read_cnt+1
  		 where fd_no = #{fd_no}
  	</update>
  	
  	<!-- 관리자가 펀딩 프로젝트 승인 -->
  	<update id="updateFunding_pj" parameterType="funding_pj">
  		update funding_pj
  		   set fd_satatus = '진행중'
  		 where fd_no = #{fd_no}
  	</update>
  	
  </mapper>