<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="MyaccountDAO">
 
 	<update id="updateInfo">
      UPDATE userinfo
      SET user_name=#{user_name}
      	  ,user_phone=#{user_phone}
      	  ,user_info=#{user_info}
      	  <if test="user_img != null">
      	  ,user_img=#{user_img}
      	  </if>
      WHERE user_no=#{user_no}
   </update>
   
   <select id="getAdFunding_pjList" resultType="funding_pay">
   		select pay.fd_no, pj.fd_goals ,pay.pay_no, pay.fd_title , pj.fd_img_name, pay.pay_total, pj.fd_status
		  from funding_pay pay , funding_pj pj
  		 where pay.fd_no = pj.fd_no
  		   and pay.user_no = #{user_no}
   </select>
   
   <insert id="insertFunding_cart">
   		insert into funding_cart (fc_no,fc_date_time,user_no,fd_no) values (FD_CART_SEQ.nextval,SYSDATE,#{user_no},#{fd_no})
   </insert>
   
   <select id="getFunding_cartList" resultType="funding_pj">
   		select pj.fd_no , pj.fd_goals , pj.fd_title , nvl(pay.total_sum,0), pj.fd_img_name
       		   , to_date(pj.fd_enddate,'yy-mm-dd') - to_date(sysdate, 'yy-mm-dd') remain_day
      		   , nvl(trunc(pay.total_sum / pj.fd_goals,2)*100,0) rate
               , pj.fd_status
		  from funding_pj pj , (select fd_no , sum(pay_total) total_sum 
                        		  from funding_pay
                    		  group by fd_no) pay , funding_cart cart
  		 where pj.fd_no = pay.fd_no(+)
  		   and pj.fd_no = cart.fd_no
  		   and cart.user_no = #{user_no}
   </select>
   
   <select id="getBongs_pjList" resultType="bongsa">
   		select A.BS_TITLE, A.BS_CONTENT, A.BS_NAME, 
	  		A.BS_NO, A.BS_REGION, A.BS_PLACE, A.BS_IMG_CNT, 
	  		A.BS_PHONE,  A.BS_SUCCESS_CNT, 
	  		to_date(TO_char(A.BS_WORK_START, 'YYYYMMDDHH24MI'),'yyyy-mm-dd hh24:mi') AS RE_BS_WORK_START,
	  		to_date(TO_char(A.BS_WORK_END, 'YYYYMMDDHH24MI'),'yyyy-mm-dd hh24:mi') AS RE_BS_WORK_END,
	  		A.BS_EMAIL, A.BS_IMG_NAME, A.BS_GOAL_CNT,
	  		A.BS_READ_CNT,
	  		round(((A.BS_SUCCESS_CNT / BS_GOAL_CNT)*100),0) AS bs_rate,
	  		A.bs_ing
  		from BONGSA A INNER JOIN VOLUNTEER B ON (A.BS_NO = A.BS_NO)
  		where B.USER_NO = #{user_no}
  		ORDER BY A.BS_NO DESC
   </select>
   
   <select id="countAccountByEmail" resultType="int">
   		select count(1) from userinfo where user_email = #{user_email}
   </select>
   
   <update id="resetPassword">
      UPDATE userinfo
      SET user_password = #{user_password}
      WHERE user_email = #{user_email}
   </update>
   
   <update id="updateUserinfoUserOutdate">
      UPDATE userinfo
      SET user_outdate = SYSDATE
      WHERE user_no = #{user_no}
   </update>
   
 </mapper>