<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewDAO">
	<!-- 리뷰입력 -->
	<insert id="insertReview" parameterType="review">
		<selectKey keyProperty="review_no" order="AFTER" resultType="int">
			SELECT REVIEW_REVIEW_NO_SEQ.currval REVIEW_NO from dual
		</selectKey>
		INSERT INTO REVIEW
		(REVIEW_NO, REVIEW_TITLE, REVIEW_IMG_CNT,REVIEW_IMG, REVIEW_TEXT, REVIEW_DATE,
		REVIEW_READ_CNT, USER_NO,USER_NAME,USER_RATING
		)VALUES
		(REVIEW_REVIEW_NO_SEQ.NEXTVAL,#{review_title},0,'REVIEW_IMG',#{review_text},SYSDATE,
		0,#{user_no},#{user_name},#{user_rating})
	</insert>
	<!-- 리뷰 목록+검색 -->
	<select id="getReviewList" parameterType="map" resultType="review">
		SELECT review.*, userinfo.user_name
    	  FROM review, userinfo
		<where>
			<if test="search != null">
				${select} like '%${search}%' and  review.user_no = userinfo.user_no
			</if>
			<if test="search == null">
				 review.user_no = userinfo.user_no
			</if>
		</where>
		ORDER BY review_no DESC
	</select>
	<!-- 리뷰 읽기 -->
	<select id="getReview" parameterType="review" resultType="review">
		SELECT *
		FROM REVIEW
		WHERE review_no=#{review_no}
	</select>
	<!-- 조회수증가 -->
	<update id="getReadCnt" parameterType="review">
		UPDATE REVIEW
		   SET review_read_cnt=review_read_cnt +1
		 WHERE review_no=#{review_no}
	</update>
	<!-- 본문에서 이전글 다음글 -->
	<select id="movePageReview" parameterType="review" resultType="review">
		select * from (SELECT REVIEW_NO,
		                LEAD(REVIEW_NO,1,9999) OVER(ORDER BY REVIEW_NO) AS next,
		                LAG(REVIEW_NO,1,9999) OVER(ORDER BY REVIEW_NO) AS prev,
		                REVIEW_TITLE,
		                LEAD(REVIEW_TITLE,1,9999) OVER(ORDER BY REVIEW_NO) AS next_title,
		                LAG(REVIEW_TITLE,1,9999) OVER(ORDER BY REVIEW_NO) AS prev_title
		                
		                FROM  REVIEW
		                ORDER BY REVIEW_NO DESC)
                  where review_no=#{review_no}
	</select>
	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="review">
		UPDATE REVIEW
		SET review_title=#{review_title}, review_text=#{review_text}
		WHERE review_no=#{review_no}
	</update>
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="review">
		DELETE FROM REVIEW
		WHERE review_no=#{review_no}
	</delete>
	<!-- 메인에 노출할 best리뷰(조회수기준) 리스트 -->
	<select id="getBestReview" resultType="review">
		select *
		from ( select * from review order by review_read_cnt desc)
		where <![CDATA[rownum <= 10]]>
	</select>
	<!-- 페이징을위한 그룹번호(즉, 게시글의 총갯수)를 불러오는 조회문 -->
	<select id="getAllcnt" parameterType="page" resultType="page">
		select count(review_no) as totalRecCount 
		from review
		<where>
  			<if test="stext != null">
  				${select} like '%${stext}%'
  			</if>
		</where>
	</select>
	<!-- 페이징 리뷰 리스트 -->
  	<select id="getAdReviewList" parameterType="page" resultType="review">
		select *
		from review
		where review_no in(select review_no from
			(select review_no,rownum AS rnum from
				(select review_no 
				from review 
				<where>
		  			<if test="stext != null">
		  				${select} like '%${stext}%'
		  			</if>
  				</where>
				order by review_no desc))
			where 
				<![CDATA[rnum >= #{firstRow}]]> and 
				<![CDATA[rnum <= #{endRow})]]>
		order by review_no desc
	</select>
	<!-- 내가 작성한 리뷰목록 -->
	<select id="getMyReview" parameterType="map" resultType="review">
		select review.*,userinfo.*
		  from review, userinfo
		 where userinfo.user_no=review.user_no
		   and review.user_no=#{user_no}
	  order by review_no desc
	</select>
</mapper>