<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="VolunteerDAO">
  
  <insert id="insertVolunteer" parameterType="volunteer">
	INSERT INTO VOLUNTEER (
	VOLUN_NO,
	VT_BS_NAME,
	VT_TITLE,
	VT_PLACE,
	VT_RECRUIT_START,
	VT_RECRUIT_END,
	VT_WORK_START,
	VT_WORK_END,
	VT_ING,
	VT_NAME,
	VT_USER_PHONE,
	VT_USER_EMAIL,
	BS_NO,
	USER_NO
	)
	VALUES (volun_PJ_SEQ.nextval,#{vt_bs_name},#{vt_title},#{vt_place},
	'2022-05-20','2022-06-08','2022-06-08','2022-06-09',
	1,#{vt_name},#{vt_user_phone},#{vt_user_email},#{bs_no},#{user_no})
  </insert>
  
  
  <update id="incSuccessCnt" parameterType="volunteer">
  		update bongsa set bs_success_cnt = bs_success_cnt+1 where bs_no=#{bs_no}
  	
  </update>
  
  
  <select id="getVolunteer" parameterType="volunteer" resultType="volunteer">
  		select * from volunteer where bs_no=#{bs_no} and user_no = #{user_no}
  </select>


	<!-- 페이징 -->
	<select id="getAllcnt" parameterType="page" resultType="page">
		select
		count(volun_no) as totalRecCount
		from volunteer
		where user_no = ${select}
	</select>
	
	<!-- 유저 no를 받아서 해당 유저가 참여한 펀딩 목록을 조회하는 select -->
	<select id="adGetVolunteerList" parameterType="page" resultType="volunteer">
		select v.* , b.bs_img_name
		 from volunteer v , bongsa b
		where v.bs_no = b.bs_no
		  and volun_no in(select volun_no from
				(select volun_no,rownum AS rnum from
				(select volun_no from volunteer 
							  where user_no = ${select}
						   order by volun_no desc))
		  where <![CDATA[rnum >= #{firstRow}]]>
		  and <![CDATA[rnum <= #{endRow})]]>
		order by v.volun_no desc
	</select>
  
  
  

  </mapper>